[Desktop Entry]
Name=LinMine
Comment=Classic Minesweeper for Linux
Exec=linmine-flatpak
Terminal=false
Type=Application
Categories=Game;BoardGame;
StartupNotify=true
